.genres__container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  overflow-x: auto;
  margin: 15px 0 72px 0;

  &::-webkit-scrollbar {
      display: none;
  }
}

@media (max-width: 768px) {
  .genres__container {
      flex-wrap: wrap;
      justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .genres__container {
      display: block;
  }
}
