.channel {
    display: flex;
    padding: 21px 0 19px 12.1186%;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 20px;
    background: #F2F2F2;
    height: 162px;
    border-radius: 10px;

    &__logo_container {
        width: 114px;
        display: flex;
        justify-content: center;
        margin-right: 12.1186%;
        margin-bottom: -1px;
    }

    &__logo {
        width: initial;
        height: initial;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 17px;
    }

    &__schedule_container {
        margin-top: 16px;
        margin-left: 16px;
    }
}
@media (max-width: 960px) {
    .channel {
        padding: 0;
        flex-direction: column;
        height: 100%;

        &__title {
            text-align: center;
        }

        &__logo_container {
            margin: 0;
            margin-top: 20px;
        }
    }
}

@media (max-width: 350px) {
    .channel__schedule_container {
        margin-left: 30%;
        transform: translate(-30%);
    }
}
