.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 27px;
    padding: 0 9.027777778% 0 8.73%;

    &__form {
        align-self: center;
        padding-top: 7px;
        margin-left: -26px;
        margin-bottom: 10px;

        input {
            line-height: 24px;
        }
    }
}


@media (max-width: 1050px) {
    .header {
        padding: 0;
        flex-direction: column;

        form {
            margin: 0 auto;
        }

        input[type="text"] {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 500px) {
        .header {
            form {
                button {
                    margin-left: 50%;
                    transform: translate(-50%);
                }

                input {
                    width: 100%; 
                }

                #search {
                    color: black;
                }
            }
        }
}
