.switcher {
    display: flex;
    max-width: 310px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    

    &__margin {
        margin: 0 auto;
        position: relative;
        left: 4px;
        margin-top: 46px;
        margin-bottom: 31px;
    }

    a {
        cursor: url("../../assets/images/cursor-hand.png"), default;
        color: black;
        padding-bottom: 9px;
        transition: transform 0.3s ease-in-out;
    }

    .link {
        cursor: url("../../assets/images/cursor-hand.png"), default;
        color: #000;
        padding-bottom: 9px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
    .link:not(:last-child) {
        margin-right: 2.63%;
    }
}
